
<div id="watcher_groups_form_container">
  <%= render :partial => 'issues/watcher_groups_form' %>
</div>
<script>$(function () { $('#watcher_groups_form_container').insertBefore('#watchers_form_container') });</script>
