#watcher_groups ul {margin: 0;  padding: 0;}
#watcher_groups li {list-style-type:none;margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
#watcher_groups select {width: 95%; display: block;}
#watcher_groups img.gravatar {margin: 0 4px 2px 0;}

span#watcher_groups_inputs {overflow:auto; display:block;}
#watcher_groups_form_container label { white-space: nowrap; }

span.search_for_watcher_groups {display:block;}
span.search_for_watcher_groups, span.add_attachment {font-size:80%; line-height:2.5em;}
span.search_for_watcher_groups a, span.add_attachment a {padding-left:16px; background: url(../../../images/bullet_add.png) no-repeat 0 50%; } 

#groups_for_watcher {height: 200px; overflow:auto;}
#groups_for_watcher label {display: block;} 

input#group_search {width:100%}
input#group_search.ajax-loading {
  background-image: url(../../../images/loading.gif);
} 
.flyout-menu #watcher_groups {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.flyout-menu #watcher_groups .contextual {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.flyout-menu #watcher_groups ul li {
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}